services:
  db:
    image: postgres:18
    environment:
      POSTGRES_USER: "root"
      POSTGRES_PASSWORD: "root"
      POSTGRES_DB: "ny_taxi"
    volumes:
      - ny-taxi-data:/var/lib/postgresql
    ports:
      - "5432:5432"

  notebook:
    build: .
    volumes:
      - .:/app
    ports:
      - "8888:8888"
    depends_on:
      - db

volumes:
  ny-taxi-data: